#root {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.editor-out-container {
  border: 1px solid black;
  height: 400px;
}

#output {
  border: 1px solid black;
  box-sizing: border-box;
  height: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  & > * {
    width: 100% !important;
    height: 100% !important;
    padding: 2px;
    border: none;
    border-left: 1px solid black;
    box-sizing: border-box;
    overflow-y: auto;
  }
}

#json-tree {
  border-left: none;
}